#wonders-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 32px;
    margin-top: 20px;
}

.wonder {
    background-color: #ef8b07;
    border: 1px solid #ef8b07;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.wonder:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.wonder h2 {
    font-size: 20px;
    color: #060505;
    margin: 8px 0;
}

.wonder p {
    color: #555;
    margin: 8px 0px 16px;
}

button {
    background-color: rgb(254, 240, 222); 
    color: #030303;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(254, 240, 222); 
}

footer {
    background-color: rgb(254, 240, 222);
    color: #fff;
    text-align: center;
    padding: 16px;
    position: relative;
    bottom: 0;
    width: 100%;
}