.flex {
    display: flex;
}
  
.wrap {
    flex-wrap: wrap;
}
  
.rounded {
    border-radius: 100px;
}
  
.bold {
    font-weight: bold;
}
  
.center {
    align-items: center;
    justify-content: center;
}
  
  